PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=usr_db
DB_PASSWORD=password
DB_NAME=name_db
DEFAULT_PASSWORD=password

# JWT
JWT_TOKEN=token_secret
JWT_TOKEN_EXPIRATION=900s
JWT_SECRET=Super_secret